
@{
    ViewBag.Title = "ErrorPage";
}



<div class="row" style="margin-top:50px;text-align:center;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div style="font-size:55pt;">
                <span class="glyphicon glyphicon-ok-circle" style="color:red;"></span>
            </div>
            <p class="lead" style="font-size:40pt;color:dimgray;">
                Hata! <br /> Bu kitap talepte bulunmaya uygun değil!
            </p>
        </div>
    </div>
</div>
