
@{
    ViewBag.Title = "FinishShopping";
}


<div class="row" style="margin-top:50px;text-align:center;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div style="font-size:55pt;">
                <span class="glyphicon glyphicon-ok-circle" style="color:coral;"></span>
            </div>
            <p class="lead" style="font-size:40pt;color:dimgray;">
                Siparişiniz Tamamlandı!
            </p>
        </div>
    </div>
</div>

